<div id = "menubar" class="card animated-element">
  <p-menubar  [model]="items">
    <div class="right-items">
      <a href="https://www.linkedin.com/in/sreeramcharagundla/" target="_blank"><i class="pi pi-linkedin"></i></a> 
      <a href="https://github.com/SreeramCharagundla" target="_blank"><i class="pi pi-github"></i></a>
      <a href="https://www.instagram.com/sreeram__/" target="_blank"><i class="pi pi-instagram"></i></a>
      <a href="mailto:charagundla.s@northeastern.edu"><i class="pi pi-envelope"></i></a>
    </div>
  </p-menubar>
</div>
<br>

<div class="content animated-element ">
<p-card>
  <div id = "profile" class="card-content animated-element">
    <div class="card-image">
      <img src="assets/sreeram.png" alt="Profile Image" />
    </div>
    <div class="card-details">
      <h2>Hi There! I'm Sreeram, <br> An aspiring Software Engineer.</h2>
      <div class="experience">2 Years Experience</div>
      <div class="profession"> Full Stack Developer</div>
    </div>
  </div>
</p-card>
</div>

<br>

<div id = "timeline" class="timeline-card animated-element">
  <h2 style="text-align: center;">Experience</h2>
  <p-timeline [value]="events">
    <ng-template pTemplate="content" let-event>
      <div class="event-content">
        <h3>{{ event.status }}</h3>
        <p>{{ event.date }}</p>
        <p>{{ event.description }}</p>
      </div>
    </ng-template>
  </p-timeline>
</div>